<img
  class=" lg:t-h-[300px] t-hidden lg:t-block t-mb-[50px] t-w-full t-object-cover"
  src="https://www.osprey.com/gb/media/wysiwyg/am_guarantee_top_banner.jpg"
  alt="almighty guarantee repair request"
>

<section class="t-mt-0 lg:t-mt-[40px] lg:t-grid lg:t-grid-cols-12 lg:t-grid-rows-5 lg:t-gap-[30px] t-max-w-[1300px] t-mx-auto t-pb-[30px] t-relative t-h-auto ">
  <!-- div1: Left image DESKTOP -->
  <div class="t-hidden lg:t-block t-col-start-1 t-col-end-7 t-row-start-1 t-row-end-10 t-relative t-z-2 t-mt-[6.2vw] t-ml-[4.8vw]">
    <img
      src="https://www.osprey.com/gb/media/wysiwyg/portrait-hoose-894.jpg"
      alt="Portrait"
      class="t-w-full lg:t-h-full t-h-[300px] t-object-cover t-object-[center_-17px_-407px] lg:t-object-center"
    >
  </div>
  <!-- div1: Left image MOBILE -->
  <div class="lg:t-hidden t-block t-w-full">
    <img
      src="https://www.osprey.com/gb/media/wysiwyg/portrait-hoose-894.jpg"
      alt="Portrait"
      class="t-w-full lg:t-h-full t-h-[300px] t-object-cover t-object-center "
    >
  </div>

  <!-- div2: Content -->
  <div class="t-hidden lg:t-block t-col-start-7 t-col-end-13 t-row-start-1 t-row-end-4 t-z-2 t-flex t-flex-col t-gap-4 t-pr-2 t-ps-[40px]">
    <p class="t-uppercase t-text-[24px] t-tracking-[0.2em] t-text-gray-600 t-mb-[30px] t-mt-0">
      All Mighty Guarantee<sup>TM</sup>
    </p>
    <h1 class="t-text-[60px] t-my-0 t-font-bold t-leading-[1.2] t-uppercase t-pt-[15px] t-text-[17ox]">
      Committed to a Lifetime of Adventure
    </h1>
    <p class="t-text-[15px] t-text-gray-700 t-leading-[1.7]">
      Since 1974, Osprey has been dedicated to designing and manufacturing high-quality products. If you discover any
      defect in material and workmanship under normal use and maintenance, we will repair or replace it free of charge.
    </p>
    <p class="t-text-[15px] t-text-gray-700">
      For further details please see our
      <a
        href="/pages/all-mighty-guarantee-policy"
        target="_blank"
        rel="noopener"
        class="t-text-blue-600 t-underline"
      >
        All Mighty Guarantee Policy </a
      >.
    </p>
    <img
      src="https://www.osprey.com/gb/media/wysiwyg/hoose-893_logo_mobile.jpg"
      alt="All Mighty Guarantee Logo"
      class="t-w-[207px] t-mt-2"
    >
  </div>

  <div class="lg:t-hidden t-block t-pt-[10px] t-px-[20px] t-border-box">
    <p class="t-uppercase t-text-[24px] t-tracking-[0.2em] t-text-gray-600 t-mb-[30px] t-mt-0">
      All Mighty Guarantee<sup>TM</sup>
    </p>
    <h1 class="xl:t-text-[60px] t-text-[40px] lg:t-text-[40px] t-my-0 t-font-bold t-leading-[1.2] t-uppercase t-pt-[15px]">
      Committed to a Lifetime of Adventure
    </h1>
    <p class="t-text-[15px] t-text-gray-700 t-leading-[1.7]">
      Since 1974, Osprey has been dedicated to designing and manufacturing high-quality products. If you discover any
      defect in material and workmanship under normal use and maintenance, we will repair or replace it free of charge.
    </p>
    <p class="t-text-[15px] t-text-gray-700">
      For further details please see our
      <a
        href="/pages/all-mighty-guarantee-policy"
        target="_blank"
        rel="noopener"
        class="t-text-blue-600 t-underline"
      >
        All Mighty Guarantee Policy </a
      >.
    </p>
    <img
      src="https://www.osprey.com/gb/media/wysiwyg/hoose-893_logo_mobile.jpg"
      alt="All Mighty Guarantee Logo"
      class="t-w-[207px] t-mt-2"
    >
  </div>

  <!-- div3: Bottom wide image -->
  <div class="t-col-start-6 t-col-end-13 t-row-start-4 t-row-end-8 t-relative t-flex lg:t-items-end t-z-2 t-mb-[40px] t-mt-[20px]">
    <img
      src="https://www.osprey.com/gb/media/wysiwyg/landscape-hoose-894.jpg"
      alt="Landscape"
      class="t-w-full t-h-[420px] t-object-cover t-object-center t-shadow-lg"
    >
  </div>
</section>

<div class="t-mx-[20px] t-mb-[40px] t-mt-[20px] lg:t-mt-[40px] t-max-w-[1280px] lg:t-mx-auto t-bg-white t-border-[#6e9088] t-border-[20px] t-border-solid ">
  <div class="t-px-[20px] lg:t-max-w-[800px] t-max-w-[600px] lg:t-w-full t-flex t-flex-col t-items-center t-py-[40px] lg:t-py-[80px] t-mx-auto">
    <h2 class="t-text-[20px] lg:t-text-[30px] xl:t-text-[40px] t-font-extrabold t-text-black t-uppercase t-text-center t-leading-tight t-m-0 t-max-w-[800px]">
      ISSUE WITH YOUR PACK? LOOKING FOR A REPLACEMENT PART OR REPAIR?
    </h2>
    <p class="t-text-lg t-text-black t-text-center t-max-w-[800px] t-text-[16px] t-leading-[170%]">
      Our aftersales and repair team is ready and available to give any Osprey product the care it needs this season.
      Requests for All Mighty Guarantee may be made on products that have been purchased directly from Osprey or from an
      authorised retailer and requires a proof of purchase
    </p>
    <a
      href="/pages/almighty-guarantee-form"
      class="t-bg-black t-text-white t-font-bold t-text-xl t-px-12 t-py-6 t-rounded t-inline-block hover:t-bg-gray-800 t-transition t-duration-200 t-no-underline "
    >
      START HERE
    </a>
  </div>
</div>

{% schema %}
{
  "name": "A Guarantee",
  "presets": [
    {
      "name": "Almighty Guarantee Page",
      "category": "page-sections"
    }
  ]
}
{% endschema %}
