<section class="t-relative t-max-w-[1300px] t-mx-auto t-grid t-grid-cols-8 t-gap-[4.5rem] t-p-6 t-h-[1300px] t-pt-[60px]">
  <!-- Column 1: Portrait Image -->
  <div class="t-col-span-4 t-relative t-top-[150px]">
    <div
      class="t-block t-w-full t-h-[1000px] t-bg-cover t-bg-center t-top-[160px]"
      style="background-image: url('https://www.osprey.com/gb/media/wysiwyg/portrait-hoose-894.jpg');"
    ></div>
  </div>

  <!-- Column 2: Landscape Image (overlaps column 1) -->
  <div class="t-col-span-4 t-relative">
    <div class="t-col-span-4 t-flex t-flex-col t-justify-start t-gap-[3rem] t-z-10">
      <p class="t-m-0  t-uppercase t-text-sm t-tracking-widest t-text-gray-600 t-text-[24px] t-leading-[3rem] t-tracking-[3.6px]">
        All Mighty Guarantee<sup>TM</sup>
      </p>
      <h1 class="t-m-0  t-text-4xl t-font-extrabold t-leading-tight t-text-black t-text-[60px] t-uppercase t-mt-[35px]">
        Committed to a Lifetime of Adventure
      </h1>
      <p class="t-m-0  t-text-base t-text-gray-700">
        Since 1974, Osprey has been dedicated to designing and manufacturing high-quality products. If you discover any
        defect in material and workmanship under normal use and maintenance, we will repair or replace it free of
        charge.
      </p>
      <p class="t-m-0 t-text-base t-text-gray-700">
        For further details please see our
        <a
          href="https://osprey-emea-sandbox.kustomer.support/en_us/amg-declaration-ByrmL02iR"
          target="_blank"
          rel="noopener"
          class="t-m-0  t-text-blue-600 t-underline"
        >
          AMG declaration </a
        >.
      </p>
      <img
        src="https://www.osprey.com/gb/media/wysiwyg/hoose-893_logo_mobile.jpg"
        alt="All Mighty Guarantee Logo"
        class="t-w-[207px] "
      >
    </div>

    <div
      class="t-block t-w-[1000px] t-h-[450px] t-bg-cover t-bg-center t-absolute t-top-[650px] t-left-[-120px] t-z-0 t-shadow-lg"
      style="background-image: url('https://www.osprey.com/gb/media/wysiwyg/landscape-hoose-894.jpg');"
    ></div>
  </div>

  <!-- Column 3: Text Content -->
</section>
<div class="t-max-w-[1300px] t-mx-auto t-bg-white t-border-[16px] t-border-[#6e9088] t-py-[80px] t-px-4 t-flex t-flex-col t-items-center t-gap-8 t-border-[20px] t-border-solid t-mb-[100px]">
  <h2 class="t-text-4xl t-font-extrabold t-text-black t-uppercase t-text-center t-leading-tight t-text-[38px] t-mb-0 t-max-w-[800px]">
    ISSUE WITH YOUR PACK? LOOKING FOR A REPLACEMENT PART OR REPAIR?
  </h2>
  <p class="t-text-lg t-text-black t-text-center t-max-w-[800px]">
    Our aftersales and repair team is ready and available to give any Osprey product the care it needs this season.
    Requests for All Mighty Guarantee may be made on products that have been purchased directly from Osprey or from an
    authorised retailer and requires a proof of purchase
  </p>
  <a
    href="#JotFormIFrame-251878220525862"
    class="t-bg-black t-text-white t-font-bold t-text-xl t-px-12 t-py-6 t-rounded t-inline-block hover:t-bg-gray-800 t-transition t-duration-200 t-no-underline "
  >
    START HERE
  </a>
</div>

{% schema %}
{
  "name": "A Guarantee",
  "presets": [
    {
      "name": "Almighty Guarantee Page",
      "category": "Custom"
    }
  ]
}
{% endschema %}
