<img
  class=" lg:t-h-[300px] t-hidden lg:t-block t-w-full t-object-cover"
  src="https://www.osprey.com/gb/media/wysiwyg/am_guarantee_top_banner.jpg"
  alt="almighty guarantee repair request"
>

<style>
  .amg-declaration a {
    color: #0074a2 !important;
  }
</style>
<section class="t-bg-[#f4f3f1] t-py-[30px]">
  <div class="page-width t-text-left  lg:t-my-[70px] t-my-[30px] amg-declaration">
    <h2 class="t-text-2xl t-font-bold t-mb-2">Your rights under the Australian Consumer Law</h2>
    {% comment %} <span class="t-text-sm t-text-gray-600 t-block t-mb-6">December 19 2024 5:40am</span> {% endcomment %}

    <div class="t-space-y-4 t-text-[15px] t-leading-relaxed t-font-sans">
      <p>Sheldon and Hammond Pty Limited (S&amp;H) is the Australian distributor of Osprey Packs, Inc.</p>
      <p>
        Our goods come with guarantees that cannot be excluded under the Australian Consumer Law. You are entitled to a
        replacement or refund for a major failure and compensation for any other reasonably foreseeable loss or damage.
        You are also entitled to have the goods repaired or replaced if the goods fail to be of acceptable quality and
        the failure does not amount to a major failure.
      </p>
      <p>
        These rights (known as consumer guarantees) are in addition to the manufacturer's warranty which are referred to
        as the All Mighty Guarantee (see below). A change of mind does not qualify as a consumer guarantee.
      </p>
      <p>
        S&amp;H will require satisfactory proof of purchase before providing a remedy under the consumer guarantees.
      </p>
      <p>
        If you purchase an Osprey product from us through our online store and you believe your product is faulty or
        defective, please complete the claim
        <a class="t-font-bold" href="http://www.ospreyaustralia.com.au/pages/almighty-guarantee-form">form</a>. To
        assist with your claim please provide a detailed description of the defect (including photos) when completing
        the form.
      </p>
      <p>
        S&amp;H will respond to your warranty claim and may request for more information (if needed) and the next steps
        (which may include requiring you to return the product to S&amp;H for an assessment). Before determining the
        remedy you are entitled to, in some cases we may need to send the item to Osprey for an assessment to confirm
        the problem.
      </p>
      <p>
        If you are asked to return the product, S&amp;H will pay for the cost of the postage from an Australian address
        to S&amp;H. You are responsible for packaging the product to prevent it from further damage during transit.
      </p>
      <p>
        If you have purchased an Osprey product from a retailer and you believe your product is faulty or defective,
        please contact that retailer directly.
      </p>
    </div>
  </div>
</section>

<section class="page-width">
  <div class="t-text-left t-prose t-my-[80px] amg-declaration">
    <h2 class="t-text-2xl t-font-bold t-mb-2">ALL MIGHTY GUARANTEE™ (AMG)</h2>
    <div class="t-space-y-4 t-text-[15px] t-leading-relaxed t-font-sans">
      <p class="t-text-center t-font-bold">Since 1974 Osprey has only designed and built high-quality products.</p>

      <p>
        <span class="t-font-bold">1. Guarantor of AMG:</span> The All Mighty Guarantee is a warranty that is given by
        Osprey Packs, Inc. (“Osprey”) of 800 North Park Street, Cortez, Colorado 81321 USA (Phone: 1-866-284-7830)
        (Email: <a href="https://www.osprey.com/contact-us" target="_blank">https://www.osprey.com/contact-us</a>).
        Sheldon & Hammond Pty Limited (S&H) is the Australian distributor of Osprey Packs, Inc. and will be managing
        claims made by consumer under this All Mighty Guarantee (“AMG”) on behalf of Osprey for the period that it is
        the authorized distributor of Osprey.
      </p>

      <p><span class="t-font-bold">2. Product Description:</span> Osprey Products</p>

      <p>
        <span class="t-font-bold">3. Guarantee Period for AMG:</span> The AMG period commences on the date of purchase
        and is valid for a duration of 30 years with the following exceptions:
      </p>
      <div class="t-overflow-x-auto">
        <table class="t-w-sm t-border-collapse t-text-left">
          <thead>
            <tr class="t-bg-gray-700">
              <th class="t-text-white t-p-2 t-border t-border-solid t-border-black">Product</th>
              <th class="t-text-white t-p-2 t-border t-border-solid t-border-black">Duration</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="t-border t-border-solid t-p-2">Poco</td>
              <td class="t-border t-border-solid t-p-2">7 years</td>
            </tr>
            <tr>
              <td class="t-border t-border-solid t-p-2">Soelden & Sopris Pro</td>
              <td class="t-border t-border-solid t-p-2">5 years</td>
            </tr>
            <tr>
              <td class="t-border t-border-solid t-p-2">Raptor & Raven Pro</td>
              <td class="t-border t-border-solid t-p-2">5 years</td>
            </tr>
          </tbody>
        </table>
      </div>

      <p>
        <span class="t-font-bold">4. Scope of AMG:</span> This AMG guarantee covers all defects in materials and
        workmanship under normal use during the guarantee period. During the AMG period, S&H will repair or replace, at
        no charge, products or parts of a product that prove defective because of improper material or workmanship,
        under normal use and maintenance.
      </p>
      <p>
        If Osprey in its or S&H's sole discretion, choose to repair the product then we will exercise our discretion to
        determine the extent of the repair work and the repairer of that work. Osprey, S&H and any third party that is
        engaged to perform the repair work cannot guarantee that upon completion of the repair work that the product
        will look identical to the product that you first received when you purchased the product. The intention of any
        repair work is to enable the product to be of acceptable quality and fit for its intended purpose.
      </p>

      <p>
        <span class="t-font-bold">5. What is not covered:</span> The AMG guarantee doesn’t cover the following types of
        damage or wear. This means S&H won’t replace or repair your product at our cost:
      </p>
      <ul class="t-list-disc t-ml-6 t-space-y-2">
        <li>
          <span class="t-font-bold">Wear and tear</span> – If your pack is showing signs of cosmetic aging (e.g.
          discolouration, logo peeling) or signs of use from regular adventures (e.g. fraying, punctures, holes,
          abrasions), then it will not be covered under the AMG. These are considered normal wear and tear. If your pack
          is functional, then it is not a defect in materials or workmanship.
        </li>
        <li>
          <span class="t-font-bold">Delamination (e.g. peeling/flaking)</span> – If you store your pack in damp
          conditions, use it in wet weather or store wet/damp items in your pack then this can cause delamination. If
          your pack shows signs of bubbling, peeling, flaking, cracking or loss of adhesion between the fabric layers
          then it is considered to be wear related and will not covered under the AMG.
        </li>
        <li>
          <span class="t-font-bold">Airline/Travel Damage</span> – If your pack is damaged whilst you are in transit due
          to the way in which the pack was handled, then this is not covered under the AMG. You will need to make a
          claim with the airline, travel operator or your insurer in that instance.
        </li>
        <li>
          <span class="t-font-bold">Animal Damage</span> – If your pack is damaged (intentionally or incidentally) by
          any animal (including rodents), such damage will not be covered by the AMG.
        </li>
      </ul>

      <p><span class="t-font-bold">6. AMG Guarantee:</span> If there is a defect covered by this guarantee:</p>
      <ul class="t-list-disc t-ml-6 t-space-y-2">
        <li>
          Contact S&H at
          <a class="t-font-bold" href="http://www.ospreyaustralia.com.au/pages/almighty-guarantee-form"
            >http://www.ospreyaustralia.com.au/pages/almighty-guarantee-form</a
          >
          to obtain instructions on how to proceed.
        </li>
        <li>Provide the original proof of purchase (receipt) and a detailed description of the defect.</li>
        <li>Send the product, along with any requested documentation, to the address provided by S&H.</li>
      </ul>

      <p>
        <span class="t-font-bold">7. Legal Rights:</span> This guarantee is provided in addition to the statutory rights
        of the consumer under the Australian consumer law and any other applicable law. The statutory rights of the
        consumer are not affected by this AMG guarantee.
      </p>

      <p>
        <span class="t-font-bold">8. Additional Provisions:</span> Any claims under this AMG are subject to Australian
        law and must be made within the 30-year guarantee period.
      </p>

      <p>
        <span class="t-font-bold">9. Contact Information:</span> For further information or questions, please contact us
        via:
        <a class="t-font-bold" href="http://www.ospreyaustralia.com.au/pages/almighty-guarantee-form"
          >http://www.ospreyaustralia.com.au/pages/almighty-guarantee-form</a
        >
      </p>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "AMG Policy Section",
  "presets": [
    {
      "name": "AMG Policy",
      "category": "Custom"
    }
  ]
}
{% endschema %}
`
