{% if cart == empty %}
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="22"
    height="22"
    viewBox="0 0 769 763"
    fill="none"
    class="w-5.5 h-5.5 dr:w-6 dr:h-6"
    role="img"
  >
    <path d="M19.3603 1.95986C6.17067 5.92986 -0.0256311 15.56 7.96753e-05 32.06C0.0257905 50.76 7.36622 60.5598 23.6797 63.6498C27.7163 64.4098 48.4392 65.0399 69.7277 65.0399H108.422L111.983 78.4101C113.937 85.7701 140.882 189.59 171.877 309.13C202.858 428.66 229.199 529.19 230.407 532.5C231.629 535.82 234.765 540.92 237.388 543.83C246.489 553.89 230.472 553.29 477.758 552.88L699.141 552.52L704.964 549.41C714.233 544.46 718.038 537.4 718.745 523.79C719.439 510.58 717.794 504.3 711.893 497.56C703.717 488.27 716.11 488.76 489.431 488.76H285.017L278.448 463.05C274.848 448.9 271.917 436.88 271.943 436.33C271.969 435.78 356.686 435.16 460.197 434.96L648.4 434.6L653.89 431.64C660.78 427.92 664.817 423.63 667.542 417.1C673.276 403.4 767.274 112.8 767.955 106.72C769.022 97.0901 766.606 90.8001 759.407 84.4701C747.284 73.8101 768.2 74.5601 494.123 74.9701L249.369 75.33L243.88 78.2699C233.325 83.9299 229.186 91.9898 229.186 106.86C229.186 121.72 234.264 131.41 244.574 136.18C248.906 138.19 270.375 138.47 470.16 139.09L690.965 139.77L615.529 370.83H254.563L251.002 357.46C249.035 350.11 228.556 271.35 205.481 182.42C182.405 93.5198 162.351 18.4698 160.911 15.6498C157.594 9.15981 151.295 3.83969 144.765 2.02969C138.658 0.329688 24.9781 0.259864 19.3603 1.95986ZM306.447 584.91C289.054 587.81 271.609 597.62 257.751 612.31C246.297 624.43 240.409 634.73 236.256 649.85C232.104 664.99 232.914 689.34 238.018 703C248.006 729.72 269.963 751.03 295.995 759.27C303.979 761.8 308.697 762.31 324.097 762.27C340.771 762.23 343.638 761.86 352.893 758.49C379.221 748.91 401.924 724.96 409.701 698.56C413.327 686.27 413.944 669.35 411.27 656C401.525 607.55 356.017 576.69 306.447 584.91ZM603.149 585.53C571.474 592.52 544.619 618.47 535.813 650.58C531.969 664.6 532.586 686.61 537.201 700.91C549.131 737.79 583.982 763 623.037 763C662.078 763 696.917 737.8 708.872 700.91C713.461 686.74 714.04 664.75 710.209 650.58C702.2 620.95 678.765 596.48 649.776 587.49C637.023 583.54 616.159 582.66 603.149 585.53ZM336.824 651.92C344.833 657.41 348.098 663.56 348.098 673.19C348.098 680.08 347.417 682.65 344.332 687.32C337.724 697.3 323.93 701.38 312.72 696.7C307.45 694.49 299.814 686.19 298.592 681.33C296.805 674.19 298.759 663.35 302.796 658.05C310.651 647.76 326.566 644.88 336.824 651.92ZM637.756 652.85C645.186 658.86 648.105 664.57 648.105 673.12C648.105 698.94 614.411 708.58 601.452 686.46C590.898 668.45 604.024 646.86 624.721 648.18C631.007 648.57 633.629 649.53 637.756 652.85Z" fill="currentColor"></path>
    <title>shopping-cart</title>
  </svg>
{% else %}
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="22"
    height="22"
    viewBox="0 0 769 763"
    fill="none"
    class="w-5.5 h-5.5 dr:w-6 dr:h-6"
    role="img"
  >
    <path d="M19.3603 1.95986C6.17067 5.92986 -0.0256311 15.56 7.96753e-05 32.06C0.0257905 50.76 7.36622 60.5598 23.6797 63.6498C27.7163 64.4098 48.4392 65.0399 69.7277 65.0399H108.422L111.983 78.4101C113.937 85.7701 140.882 189.59 171.877 309.13C202.858 428.66 229.199 529.19 230.407 532.5C231.629 535.82 234.765 540.92 237.388 543.83C246.489 553.89 230.472 553.29 477.758 552.88L699.141 552.52L704.964 549.41C714.233 544.46 718.038 537.4 718.745 523.79C719.439 510.58 717.794 504.3 711.893 497.56C703.717 488.27 716.11 488.76 489.431 488.76H285.017L278.448 463.05C274.848 448.9 271.917 436.88 271.943 436.33C271.969 435.78 356.686 435.16 460.197 434.96L648.4 434.6L653.89 431.64C660.78 427.92 664.817 423.63 667.542 417.1C673.276 403.4 767.274 112.8 767.955 106.72C769.022 97.0901 766.606 90.8001 759.407 84.4701C747.284 73.8101 768.2 74.5601 494.123 74.9701L249.369 75.33L243.88 78.2699C233.325 83.9299 229.186 91.9898 229.186 106.86C229.186 121.72 234.264 131.41 244.574 136.18C248.906 138.19 270.375 138.47 470.16 139.09L690.965 139.77L615.529 370.83H254.563L251.002 357.46C249.035 350.11 228.556 271.35 205.481 182.42C182.405 93.5198 162.351 18.4698 160.911 15.6498C157.594 9.15981 151.295 3.83969 144.765 2.02969C138.658 0.329688 24.9781 0.259864 19.3603 1.95986ZM306.447 584.91C289.054 587.81 271.609 597.62 257.751 612.31C246.297 624.43 240.409 634.73 236.256 649.85C232.104 664.99 232.914 689.34 238.018 703C248.006 729.72 269.963 751.03 295.995 759.27C303.979 761.8 308.697 762.31 324.097 762.27C340.771 762.23 343.638 761.86 352.893 758.49C379.221 748.91 401.924 724.96 409.701 698.56C413.327 686.27 413.944 669.35 411.27 656C401.525 607.55 356.017 576.69 306.447 584.91ZM603.149 585.53C571.474 592.52 544.619 618.47 535.813 650.58C531.969 664.6 532.586 686.61 537.201 700.91C549.131 737.79 583.982 763 623.037 763C662.078 763 696.917 737.8 708.872 700.91C713.461 686.74 714.04 664.75 710.209 650.58C702.2 620.95 678.765 596.48 649.776 587.49C637.023 583.54 616.159 582.66 603.149 585.53ZM336.824 651.92C344.833 657.41 348.098 663.56 348.098 673.19C348.098 680.08 347.417 682.65 344.332 687.32C337.724 697.3 323.93 701.38 312.72 696.7C307.45 694.49 299.814 686.19 298.592 681.33C296.805 674.19 298.759 663.35 302.796 658.05C310.651 647.76 326.566 644.88 336.824 651.92ZM637.756 652.85C645.186 658.86 648.105 664.57 648.105 673.12C648.105 698.94 614.411 708.58 601.452 686.46C590.898 668.45 604.024 646.86 624.721 648.18C631.007 648.57 633.629 649.53 637.756 652.85Z" fill="currentColor"></path>
    <title>shopping-cart</title>
  </svg>
{% endif %}

<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <div class="cart-count-bubble">
    {%- if cart.item_count < 100 -%}
      <span aria-hidden="true">{{ cart.item_count }}</span>
    {%- endif -%}
    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
  </div>
{%- endif -%}
