<section class="t-max-w-[1308px] t-mx-auto t-my-10 t-mb-[80px] ">
  <h2 class="t-text-center t-mx-auto t-font-bold t-text-header-2 t-mt-[80px] t-mb-[35px] t-leading-[1]">
    Osprey Ambassadors
  </h2>

  <div class="swiper ambassadors-swiper">
    <div class="swiper-wrapper  t-flex lg:t-justify-center t-mx-[20px]">
      <!-- Slide 1 -->
      <div class="swiper-slide t-min-w-[220px] t-max-w-[300px] t-flex-shrink-0">
        <a href="/ambassador/aldo-kane" class="t-no-underline t-text-black hover:t-underline t-w-full">
          <img
            class="t-h-[373px] t-object-contain t-w-full"
            src="https://www.osprey.com/gb/media/wysiwyg/HOOSE-1368-amb-1_1.png"
            alt="Aldo Kane"
          >
          <div class="t-mt-[28px]">
            <h3 class="t-text-header-4 t-mb-[10px]">Aldo Kane</h3>
            <span class="t-text-body-5 t-font-[200]">Adventurer</span>
          </div>
        </a>
      </div>

      <!-- Slide 2 -->
      <div class="swiper-slide t-min-w-[220px] t-max-w-[300px] t-flex-shrink-0">
        <a href="/ambassador/james-norbury" class="t-no-underline t-text-black hover:t-underline t-w-full">
          <img
            class="t-h-[373px] t-object-contain t-w-full"
            src="https://www.osprey.com/gb/media/wysiwyg/HOOSE-1368-amb-2_1.png"
            alt="James Norbury"
          >
          <div class="t-mt-[28px]">
            <h3 class="t-text-header-4 t-mb-[10px]">James Norbury</h3>
            <span class="t-text-body-5 t-font-[200]">Running</span>
          </div>
        </a>
      </div>

      <!-- Slide 3 -->
      <div class="swiper-slide t-min-w-[220px] t-max-w-[300px] t-flex-shrink-0">
        <a href="/ambassador/aldo-kane" class="t-no-underline t-text-black hover:t-underline t-w-full">
          <img
            class="t-h-[373px] t-object-contain t-w-full"
            src="https://www.osprey.com/gb/media/wysiwyg/HOOSE-1368-amb-3_1.png"
            alt="Aldo Kane"
          >
          <div class="t-mt-[28px]">
            <h3 class="t-text-header-4 t-mb-[10px]">Aldo Kane</h3>
            <span class="t-text-body-5 t-font-[200]">Ski & Biathlon</span>
          </div>
        </a>
      </div>

      <!-- Slide 4 -->
      <div class="swiper-slide t-min-w-[220px] t-max-w-[300px] t-flex-shrink-0">
        <a href="/ambassador/aldo-kane" class="t-no-underline t-text-black hover:t-underline t-w-full">
          <img
            class="t-h-[373px] t-object-contain t-w-full"
            src="https://www.osprey.com/gb/media/wysiwyg/HOOSE-1368-amb-4_1.png"
            alt="Aldo Kane"
          >
          <div class="t-mt-[28px]">
            <h3 class="t-text-header-4 t-mb-[10px]">Aldo Kane</h3>
            <span class="t-text-body-5 t-font-[200]">Ski Freeride & Backpacking</span>
          </div>
        </a>
      </div>
    </div>

    <!-- Pagination and arrows -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <style>
    .swiper-pagination {
      position: relative;
      height: 8px;
      width: 100%;
      background-color: #e5e5e5;
      border-radius: 9999px;
      overflow: hidden;
      margin-top: 24px;
    }

    .swiper-pagination-track {
      position: relative;
      height: 100%;
      width: 100%;
    }

    .swiper-pagination-indicator {
      position: absolute;
      top: 0;
      height: 100%;
      background-color: #d9d9d9; /* Customize this */
      border-radius: 9999px;
      transition: left 0.4s ease, width 0.2s ease;
    }

    .swiper-button-prev,
    .swiper-button-next {
      color: #000;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 24px;
    }

    @media (max-width: 1024px) {
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }
  </style>
</section>

{% schema %}
{
  "name": "Osprey Ambassadors",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "Osprey Ambassadors"
    }
  ]
}
{% endschema %}
