<section class="t-max-w-[1308px] t-mx-auto t-my-10 t-mb-[80px] ">
  <div
    class="swiper ambassadors-swiper t-flex t-justify-center t-items-center t-flex-col t-mx-[10px]"
    style="overflow:hidden;"
  >
    <div class=" t-justify-between  t-mx-[30px] t-flex lg:t-justify-between t-items-center  t-mt-[80px] t-mb-[35px] t-leading-[1] t-w-full t-max-w-[1199px] ">
      <h2 class="t-my-0 lg:t-text-center t-font-bold t-text-[29px] lg:t-text-header-3 t-uppercase t-text-[#333] ">
        Osprey Athletes
      </h2>
      <a
        href=""
        class=" t-bg-[#333] t-text-[1.6rem] t-font-[700] t-flex t-items-center t-justify-center t-uppercase t-no-underline t-text-white hover:t-bg-opacity-50 t-px-[32px] t-py-[18px] t-transition t-duration-300 hover:t-text-white t-w-[160px] t-h-[48px] "
      >
        See All
      </a>
    </div>

    <div class="swiper-wrapper  t-flex lg:t-justify-center t-mx-[20px] lg:t-mx-0">
      <!-- Slide 1 -->
      <div class="swiper-slide t-min-w-[220px] t-max-w-[300px] t-flex-shrink-0">
        <img
          class="t-h-[373px] t-object-contain t-w-full"
          src="https://www.osprey.com/media/wysiwyg/hoosus-2115-img-1_t1.jpg"
          alt="Aldo Kane"
        >
        <a href="/ambassador/aldo-kane" class="t-no-underline hover:t-underline t-w-full">
          <h3 class="t-mt-[10px] t-text-[20px] t-font-[700] t-mb-0 t-text-black">Aldo Kane</h3>
        </a>
        <span class="t-text-[16px] t-text-[#999] t-font-[300]">Adventurer</span>
      </div>

      <!-- Slide 2 -->
      <div class="swiper-slide t-min-w-[220px] t-max-w-[300px] t-flex-shrink-0">
        <img
          class="t-h-[373px] t-object-contain t-w-full"
          src="https://www.osprey.com/media/wysiwyg/hoosus-2115-img-2_t1.jpg"
          alt="James Norbury"
        >
        <a href="/ambassador/james-norbury" class="t-no-underline hover:t-underline t-w-full">
          <h3 class="t-mt-[10px] t-text-[20px] t-font-[700] t-mb-0 t-text-black">James Norbury</h3>
        </a>
        <span class="t-text-[16px] t-text-[#999] t-font-[300]">Running</span>
      </div>

      <!-- Slide 3 -->
      <div class="swiper-slide t-min-w-[220px] t-max-w-[300px] t-flex-shrink-0">
        <img
          class="t-h-[373px] t-object-contain t-w-full"
          src="https://www.osprey.com/media/wysiwyg/hoosus-2115-img-3_t1.jpg"
          alt="Aldo Kane"
        >
        <a href="/ambassador/aldo-kane" class="t-no-underline hover:t-underline t-w-full">
          <h3 class="t-mt-[10px] t-text-[20px] t-font-[700] t-mb-0 t-text-black">Aldo Kane</h3>
        </a>
        <span class="t-text-[16px] t-text-[#999] t-font-[300]">Ski & Biathlon</span>
      </div>

      <!-- Slide 4 -->
      <div class="swiper-slide t-min-w-[220px] t-max-w-[300px] t-flex-shrink-0">
        <img
          class="t-h-[373px] t-object-contain t-w-full"
          src="https://www.osprey.com/media/wysiwyg/hoosus-2115-img-4_t1.jpg"
          alt="Aldo Kane"
        >
        <a href="/ambassador/aldo-kane" class="t-no-underline hover:t-underline t-w-full">
          <h3 class="t-mt-[10px] t-text-[20px] t-font-[700] t-mb-0 t-text-black">Aldo Kane</h3>
        </a>
        <span class="t-text-[16px] t-text-[#999] t-font-[300]">Ski Freeride & Backpacking</span>
      </div>
    </div>

    <!-- Pagination and arrows -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <style>
    .swiper-pagination {
      position: relative;
      height: 8px;
      width: 100%;
      background-color: #e5e5e5;
      border-radius: 9999px;
      overflow: hidden;
      margin-top: 24px;
    }

    .swiper-pagination-track {
      position: relative;
      height: 100%;
      width: 100%;
    }

    .swiper-pagination-indicator {
      position: absolute;
      top: 0;
      height: 100%;
      background-color: #d9d9d9; /* Customize this */
      border-radius: 9999px;
      transition: left 0.4s ease, width 0.2s ease;
    }

    .swiper-button-prev,
    .swiper-button-next {
      color: #000;
    }

    {% comment %} .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 24px;
    } {% endcomment %}

    /* Add margin-right to all slides except the last */
    .ambassadors-swiper .swiper-slide {
      margin-right: 24px;
    }
    @media (min-width: 1024px) {
      .ambassadors-swiper .swiper-slide:last-child {
        margin-right: 0 !important;
      }
    }

    @media (max-width: 1024px) {
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }
  </style>
</section>

{% schema %}
{
  "name": "Osprey Ambassadors",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "Osprey Ambassadors"
    }
  ]
}
{% endschema %}
