<h2 class="t-text-center t-mx-auto t-font-bold t-text-[3.2rem] t-mt-[80px] t-mb-[35px] t-leading-[1] t-uppercase">
  Shop by Category
</h2>
<div class=" t-grid t-grid-cols-4 t-grid-rows-4 t-gap-[30px] t-h-[787px] t-max-w-[1308px] t-mx-auto t-mb-[100px]">
  <div class="t-col-span-2 t-row-span-5 t-h-full t-text-white t-flex t-flex-col t-items-center t-justify-center t-mr-[30px]">
    <img
      src="https://www.osprey.com/gb/media/wysiwyg/HOOSE-1368-transporter.png"
      alt="Blue Image"
      class=" t-w-full t-h-full t-object-cover "
    >
    <div class="t-w-full t-flex t-justify-between t-items-center t-box-border t-pt-[20px]">
      <div class="t-bg-white t-text-black">
        <h3 class="t-text-header-5 t-mt-0 t-mb-[15px]">Transporter</h3>
        <p class="t-text-header-6 t-mt-0 t-mb-0">Designed for all forms of adventure</p>
      </div>
      <a
        href="#"
        class="t-font-[600] t-h-[fit-content] t-no-underline t-uppercase t-inline-block t-text-white t-bg-black hover:t-bg-grey t-py-[18px] t-px-[35px] t-transition t-duration-300 hover:t-text-white t-text-[1.6rem]"
        >Shop Now</a
      >
    </div>
  </div>
  <a
    href="/"
    class="t-col-start-3 t-relative t-col-end-4 t-row-span-2 t-h-full t-text-white t-flex t-flex-col t-items-center t-justify-center"
  >
    <div class="t-t-group t-relative t-box-border t-overflow-hidden t-w-full t-h-full">
      <img
        src="https://www.osprey.com/gb/media/catalog/category/HOOSE-1368-day-packs.png"
        alt="Green Image"
        class="t-box-border t-w-full t-h-full t-object-cover"
      >

      <span
        class="
          t-hidden group-hover:t-block
          t-box-border t-absolute t-bottom-[10px] t-left-[10px] t-right-[10px]
          t-font-[600] t-no-underline t-uppercase t-text-black t-bg-white
          hover:t-bg-grey t-py-[18px] t-text-center t-transition t-duration-300 hover:t-text-white
        "
      >
        Shop Now
      </span>
    </div>
    <span class="t-bg-white t-text-black t-p-[1rem] t-mx-auto t-font-[600] t-text-[18px]">Day Packs</span>
  </a>

  <div class="t-col-start-4 t-col-end-5 t-row-span-2  t-h-full t-text-white t-flex t-flex-col t-items-center t-justify-center">
    <img
      src="https://www.osprey.com/gb/media/catalog/category/HOOSE-1368-backpacking.png"
      alt="Red Image"
      class=" t-w-full t-h-full t-object-cover "
    >
    <div class="t-w-full t-flex t-justify-between">
      <span class="t-bg-white t-text-black t-p-[1rem] t-mx-auto t-font-[600] t-text-[18px]">Outdoor Backpacks</span>
    </div>
  </div>
  <div class="t-col-start-3 t-col-end-4 t-row-start-3 t-row-end-5  t-h-full t-text-black t-flex t-flex-col t-items-center t-justify-center">
    <img
      src="https://www.osprey.com/gb/media/catalog/category/HOOSE-1368-travel.jpg"
      alt="Yellow Image"
      class=" t-w-full t-h-full t-object-cover "
    >
    <div class="t-w-full t-flex t-justify-between">
      <span class="t-bg-white t-text-black t-p-[1rem] t-mx-auto t-font-[600] t-text-[18px]">Travel</span>
    </div>
  </div>
  <div class="t-col-start-4 t-col-end-5 t-row-start-3 t-row-end-5 t-h-full t-text-white t-flex t-flex-col t-items-center t-justify-center">
    <img
      src="https://www.osprey.com/gb/media/catalog/category/HOOSE-1368-hiking.jpg"
      alt="Pink Image"
      class=" t-w-full t-h-full t-object-cover "
    >
    <div class="t-w-full t-flex t-justify-between">
      <span class="t-bg-white t-text-black t-p-[1rem] t-mx-auto t-font-[600] t-text-[18px]">Hiking Backpacks</span>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Shop by Category",
  "settings": [],
  "presets": [
    {
      "name": "Shop by Category"
    }
  ]
}
{% endschema %}
