{% schema %}
{
  "name": "New Arrivals Showcase",
  "settings": [
    {
      "type": "text",
      "id": "social_proof_title",
      "label": "Social Proof Title",
      "default": "#ospreypacks"
    },
    {
      "type": "text",
      "id": "social_proof_subtitle",
      "label": "Social Proof Subtitle",
      "default": "Share your adventures with @ospreyAustralia"
    },
    {
      "type": "liquid",
      "id": "social_proof_iframe",
      "label": "Social Proof Iframe",
      "default": "<iframe src=\"https://cdn.lightwidget.com/widgets/lightwidget.js\"></iframe>"
    }
  ],
  "presets": [
    {
      "name": "Social Proof Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
<div class="t-bg-[#F4F3F1]">
  <div class="t-max-w-[1300px] t-mx-auto t-pb-[86px] t-pt-[72px] ">
    <h5 class="t-font-[600] t-text-[36px] t-mb-[10px] t-mt-0 t-px-[20px] lg:t-px-[0px]">{{ section.settings.social_proof_title }}</h5>

    <p class="t-text-[28px] t-mt-0 t-mb-[30px] t-px-[20px] lg:t-px-[0px]">{{ section.settings.social_proof_subtitle }}</p>
    {{ section.settings.social_proof_iframe }}
  </div>
</div>
