<div class="t-flex t-flex-col">
  <!-- Tab Navigation -->
  <ul
    class="t-flex t-gap-[20px] t-font-[600] t-list-none t-p-0 t-border-b t-border-gray-200"
    role="tablist"
    style="border-bottom: 1px solid black;"
  >
    <li>
      <a
        href="#description"
        class="tab-btn t-no-underline t-text-black t-pb-2 t-bg-white t-cursor-pointer t-inline-block t-text-[1.8rem]"
        data-tab="description"
        style="border-bottom: 3px solid black;"
      >
        Description
      </a>
    </li>
    <li>
      <a
        href="#attributes"
        class="tab-btn t-no-underline t-text-black t-pb-2 t-bg-white t-cursor-pointer t-inline-block t-text-[1.8rem]"
        data-tab="attributes"
      >
        Key Attributes
      </a>
    </li>
    <li>
      <a
        href="#carry"
        class="tab-btn t-no-underline t-text-black t-pb-2 t-bg-white t-cursor-pointer t-inline-block t-text-[1.8rem]"
        data-tab="carry"
      >
        Carry Information
      </a>
    </li>
    <li>
      <a
        href="#specs"
        class="tab-btn t-no-underline t-text-black t-pb-2 t-bg-white t-cursor-pointer t-inline-block t-text-[1.8rem]"
        data-tab="specs"
      >
        Specs
      </a>
    </li>
    <li>
      <a
        href="#reviews"
        class="tab-btn t-no-underline t-text-black t-pb-2 t-bg-white t-cursor-pointer t-inline-block t-text-[1.8rem]"
        data-tab="reviews"
      >
        Reviews
      </a>
    </li>
  </ul>

  <!-- Tab Panels -->
  <div class="tab-content t-mt-4">
    <div id="description" class="tab-panel">
      {{ product.description }}
    </div>

    {% if product.metafields.custom.key_attributes %}
      <div id="attributes" class="tab-panel t-hidden">
        {{ product.metafields.custom.key_attributes | richtext }}
      </div>
    {% endif %}

    <div id="carry" class="tab-panel t-hidden">
      <p>Details about carry system, e.g., AirScape™ backpanel, hipbelt, etc.</p>
    </div>

    <div id="specs" class="tab-panel t-hidden">
      <p>Insert size, dimensions, capacity, etc.</p>
    </div>

    <div id="reviews" class="tab-panel t-hidden">
      <p>Customer reviews section goes here.</p>
    </div>
  </div>
</div>

<!-- Tab Script -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const tabLinks = document.querySelectorAll('.tab-btn');
    const tabPanels = document.querySelectorAll('.tab-panel');

    tabLinks.forEach((link) => {
      link.addEventListener('click', function (e) {
        e.preventDefault();

        const target = this.getAttribute('data-tab');

        // Hide all panels
        tabPanels.forEach((panel) => panel.classList.add('t-hidden'));

        // Show selected panel
        document.getElementById(target).classList.remove('t-hidden');

        // Reset all tabs
        tabLinks.forEach((tab) => {
          tab.style.borderBottom = '2px solid transparent';
        });

        // Set active tab with custom 3px solid black bottom border
        this.style.borderBottom = '3px solid black';
      });
    });
  });
</script>
