  :root {
    --font-heading-family: 'motiva-sans', sans-serif;
    --font-body-family: 'motiva-sans', sans-serif;
    --page-width: 1390px;
  }

  /* Classes for the editor */

 /* custom */


.subtitle {
  font-size: 1.8rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  letter-spacing: 0.06rem;
  color: rgba(var(--color-foreground));
}
/* custom */

html {
  font-size: 62.5%; /* 1rem = 10px */
}



#menu-drawer  .js-child-item  a {
  color: black;
}

#Search-In-Modal .field {
  box-shadow: none;
}

#Search-In-Modal .field {
  color: black;
  fill:black;
  background: black;
}

.search-modal__content.search-modal__content-bottom {
  max-width: 1742px;
  margin: 0 auto;
  
}

@media screen and (min-width: 990px) {
  .search-modal__form {
    max-width: 1742px;
  }
}

.predictive-search.predictive-search--header {
  background: white;
}
.search__input.field__input {
  padding-bottom: 30px; 
}


.predictive-search__loading-state {
  box-shadow: none;
}

.predictive-search.predictive-search--header {
  box-shadow: none;
}

.cart-count-bubble {
  color: black;
  background-color: rgba(217, 199, 158, 0.9);
  top:15px;
  left:15px;
  padding: 13px;
}

.header__icon span {
  font-size: 15px;
} 

* {
  letter-spacing: 0px;
  line-height: 1.5;
}



@media screen and (min-width: 750px) {
  .product--thumbnail_slider .thumbnail-slider {
    display: flex;
    align-items: center;
    flex-direction: column ;
  }
}

@media (min-width: 1024px) {
  .thumbnail-list {
    display: flex;
    flex-direction: column;
    gap: 8.75rem !important; 

  }
}


 /* default header styles */
    .header-wrapper {
     position: relative;
     transition: transform 0.3s ease;
   }
   .header {
     background-color: rgba(0, 0, 0, 0.5) !important; backdrop-filter: blur(12px) !important; -webkit-backdrop-filter:
     blur(12px) !important;
   }

   .parent-menu-item,
   .parent-menu-item {
     color: #fff !important;
   }

   .main-navigation ul li::after,
   .main-navigation .header__icon::after {
     background-color: white;
   }

   img.c-header__logo.parent-menu-item {
     filter: invert(1);
   }

   .header-wrapper.is-fixed {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     z-index: 1000;
   }


   /* search colour */
   .predictive-search__item-content {
    color: black;
   }

   .main-navigation ul li::after {
    color: black;
   }

   .predictive-search__item.predictive-search__item--link-with-thumbnail.link.link--text {
    color: black;    
   }

   .predictive-search__item-heading.h5 {
    color: black;
   }
   .predictive-search__item .price {
    color: black;
   }


   /* predictive search */
   .predictive-search__image {
    width: 140px;
    height: 140px;
   }

   .search-modal {
    height: calc(100vh - 245px);
   }

   /* .card__media {
   height: 300px;
   width: calc(256px - 2 * var(--image-padding)) !important;
   margin: 0 auto;
   } */
 
 #product-grid .grid__item {
  height: 500px;
 }


  /* @media screen and (min-width: 990px) {
  .grid--3-col-desktop .grid__item {
    width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
    max-width: calc(24.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
  }
} */

#product-grid .button::after, .shopify-challenge__button::after, .customer button::after, .shopify-payment-button__button--unbranded::after {
  box-shadow: none !important;
  border: solid 3px #9E3223 !important;
  color: #9E3223 !important;
}

#product-grid .quick-add__submit.button.button--full-width.button--secondary  span{
    color: #9E3223 !important;
    text-transform: uppercase !important;
}

/* #product-grid .motion-reduce {
  height: 256px;
} */

.facets-vertical-form {
  border-bottom: 1px solid rgb(183, 184, 185, 1);;
  padding-bottom: 40px;
}

  .product-count-vertical {
    margin-left: 0 !important;
  
  }
/* 
.media {
  aspect-ratio: 1 / 1;
} */

.announcement-bar, .announcement-bar__announcement {
      width: fit-content;
}

.utility-bar__grid .announcement-bar-slider {
  max-width: 1300px;
  width: 1300px;
}

a {
  color: unset;
}

.border-transparent {
  border-color: transparent !important;
}

.button  {
  font-size: 16px !important;
}
.quick-add__submit {
  border: 3px solid #9E3223 !important;
}